<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-title class="color">
      Ionic Drag and Drop List Example
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-reorder-group (ionItemReorder)="reorderList($event)" disabled="false">

      <ion-item *ngFor="let user of UsersList">
        <ion-label>
          {{user.name}}
        </ion-label>
        <ion-reorder slot= "start" >
          <ion-icon class="icon" name= "arrow-redo-outline"></ion-icon>
        </ion-reorder>
      </ion-item>

    </ion-reorder-group>
  </ion-list>


  <ion-list text-center>
    <ion-button (click)="updatedList()" expand="block" color="success">
      Get Reordered List
    </ion-button>
  </ion-list>
</ion-content>
